<div class="footer text-white tt py-5 text-center">
 <div class="container">
  <div class="row">
<div class="col-md-4">
  <div class="footitem">
<h3>Location</h3>
  <h6>2215 John Daniel Drive</h6>
  <p>Clark, MO 65243</p>
  </div>
</div>


<div class="col-md-4">
<div class="footeitem">
<h3>AROUND THE WEB</h3>
<ul class="d-flex ">
  <li ><i class="fab fa-facebook"></i></li>
  <li><i class="fab fa-twitter"></i></li>
  <li><i class="fab fa-linkedin-in"></i></li>
  <li><i class="fas fa-volleyball-ball"></i></li>
</ul>
</div>
</div>


<div class="col-md-4">
  <div class="footitem">
<h3>ABOUT FREELANCER</h3>
<span>Freelance is a free to use, licensed Bootstrap theme created by Hussein</span>
  </div>
</div>



  </div>
 </div>
</div>

<div class="copywrite bg-black text-white text-center fs-5 py-5">
  Copyright © Your Website <span>{{date}}</span>
</div>
