<div class="about py-5 text-center text-white d-flex align-items-center " style="height: 600px;">

 <div class="container py-5">

    <h2 >About Component</h2>

  <div class="head d-flex aline-center justify-content-center align-items-center">

    <div class="line me-3"></div>
    <i class="fa-solid fa-star"></i>

    <div class="line ms-3"></div>

  </div>



  <div class="row mt-3 p-3">
    <div class="col-md-12 col-lg-6">

      <div class="text">

        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS,
           and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>


    <div class="col-md-12 col-lg-6">

      <div class="text">

        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS,
           and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>






  </div>

 </div>






</div>




