<nav class="navbar navbar-expand-lg tt fs-5 py-4 mb-3" style="position: fixed;width:100% !important; z-index: 999999; ">
  <div class="container">
    <a class="navbar-brand text-white" href="#" style="text-transform: uppercase;">Start Frame Work</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" [routerLinkActive]="['activeee']"  routerLink="about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" [routerLinkActive]="['activeee']" routerLink="Portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" [routerLinkActive]="['activeee']" routerLink="Contact">Contact</a>
        </li>


</ul>
    </div>
  </div>
</nav>
