<div class="contact py-5">

<div class="container py-5">

 <div class="heade text-center " style="color: black;">
  <h2 >Contact Component</h2>

  <div class="head d-flex aline-center justify-content-center align-items-center">

    <div class="line me-3 bg-black" ></div>
    <i class="fa-solid fa-star"></i>

    <div class="line ms-3 bg-black"></div>

  </div>
 </div>

  <form>
    <div class="row d-flex justify-content-center py-5 gy-5">
      <div class="col-md-8">
        <input type="text" class="form-control" placeholder="UserName">
      </div>
      <div class="col-md-8">
        <input type="number" class="form-control" placeholder="UserAge">
      </div>

      <div class="col-md-8">
        <input type="email" class="form-control" placeholder="UserEmail">
      </div>


      <div class="col-md-8">
        <input type="password" class="form-control" placeholder="Password">
      </div>

     <div class="ps-4 text-center">
<button class="btn" style="background-color: #1abc9c; color: white;">Send Message</button>
     </div>
    </div>


    <!-- <button class="btn btn-info">Send Message</button> -->
  </form>
</div>
</div>
